<div class="post">
  <div class="post-heading">
      <div class="post-title">
      <!-- {{p.title}} -->
        <a class="h1" href="{{ p.key().id() }}">{{ p.title }}</a>
        <h3>By: {{p.author}}</h3>
        <p>Likes ({{p.like_count}}) </p>
    </div>

    <div class="date">
    <!-- pretty print the date -->
      {{p.created.strftime("%b %d, %Y")}}
    </div>

  </div>

  <div class="post-content">
  <!-- allow html in the blog -->
    {{p._render_text | safe}}

<!--   {% if username  == p.author %}
    <a href="{{'/edit_post/%s' % p.key().id()}}" > Edit Post</a>
    <a href="{{'/delete_post/%s' % p.key().id()}}" > Delete Post</a>
  {% endif %}  -->
  </div>
  

    <form method="post" action="/{{p.key().id()}}/like">
      <input type="submit" class="btn btn-secondary" name="like-button" value="Like" id="{{p.key().id()}}">
      {{error}}
    </form>
    <br>
    <br>
<h3>Comments:</h3>
<p>Insert comments here</p>
<br>


</div>
